---
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";

import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Stack from "../components/Stack.astro";
import DownArrow from "../components/DownArrow.astro";
import Proyects from "../components/Proyects.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" transition:animate="slide">
  <head>
    <SEO
      title="Bautista Igarzabal"
      description="Portfolio personal"
      openGraph={{
        basic: {
          title: "Bautista Igarzabal",
          type: "website",
          image: "https://avatars.githubusercontent.com/u/68351913",
        },
      }}
      twitter={{
        creator: "@aka.bbauti",
      }}
      extend={{
        // extending the default link tags
        link: [
          { rel: "icon", href: "/favicon.ico" },
          { rel: "sitemap", href: "/sitemap-index.xml" },
        ],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://avatars.githubusercontent.com/u/68351913",
          },
          { name: "twitter:title", content: "Bautista Igarzabal" },
          { name: "twitter:description", content: "Portfolio" },
        ],
      }}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body>
    <!-- <Socials /> -->
    <Navbar />

    <main class="shadow-xl relative">
      <div id="noise"></div>
      <div
        class="rays absolute inset-0 z-10 pointer-events-none overflow-hidden opacity-40"
      >
        <div
          class="absolute left-1/2 top-1/2 h-full min-h-[432px] w-full min-w-[768px] -translate-x-1/2 -translate-y-1/2"
        >
          <div class="absolute inset-0 wrapper">
            <div class="absolute inset-0 overflow-hidden">
              <div
                class="pointer-events-none absolute -inset-[10px] overflow-hidden text-white invert dark:text-black dark:invert-0 dark:opacity-10 transition-opacity duration-500 opacity-30 stripes"
              >
                <div
                  class="animate-god-rays absolute h-full w-[300%] mix-blend-difference"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="relative pb-[4rem] lg:pb-[2rem] p-[2rem]">
        <Header />
        <Stack />
        <DownArrow />
      </section>
      <Proyects />
    </main>
    <Footer />

    <style>
      @font-face {
        font-family: "Inter";
        src: url("/fonts/InterVariable.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      body {
        font-family: "Inter";
      }

      section {
        overflow: hidden;
        border-radius: 2rem;
        margin-bottom: 2rem;
      }

      #noise {
        animation: grain 8s steps(10) infinite;
        background-image: url(/noise.webp);
        content: "";
        height: 300%;
        left: -50%;
        opacity: 0.1;
        position: fixed;
        top: -110%;
        width: 300%;
        pointer-events: none;
        z-index: 30;
      }

      html {
        scroll-behavior: smooth;
      }

      main {
        position: relative;
        z-index: 1;
        color: #222630;
        background-color: #fff;
        min-height: 100%;
        margin: 0;
        padding: 2rem;
        font-size: 16px;
        letter-spacing: -0.0075rem;
        font-family: Inter, sans-serif;
        font-weight: 400;
        line-height: 24px;
      }

      @keyframes grain {
        0%,
        to {
          transform: translate(0);
        }

        10% {
          transform: translate(-5%, -10%);
        }

        20% {
          transform: translate(-15%, 5%);
        }

        30% {
          transform: translate(7%, -25%);
        }

        40% {
          transform: translate(-5%, 25%);
        }

        50% {
          transform: translate(-15%, 10%);
        }

        60% {
          transform: translate(15%);
        }

        70% {
          transform: translateY(15%);
        }

        80% {
          transform: translate(3%, 35%);
        }

        90% {
          transform: translate(-10%, 10%);
        }
      }

      @media (max-width: 768px) {
        main {
          padding: 1rem;
        }
      }

      .wrapper {
        mask-image: radial-gradient(
          ellipse at 100% 0%,
          black 40%,
          transparent 70%
        );
        -webkit-mask-image: radial-gradient(
          ellipse at 100% 0%,
          black 40%,
          transparent 70%
        );
      }

      .stripes {
        transform: translate3d(0, 0, 0);
        --bg: currentcolor;
        --duration: 60s;
        --stripes: repeating-linear-gradient(
          120deg,
          white 0%,
          white 7%,
          transparent 10%,
          white 12%,
          white 16%
        );
        /* --rainbow: repeating-linear-gradient(
          120deg,
          #ff00b3 10%,
          #6517f7 25%,
          #4665ef 50%,
          #f65c8a 75%,
          #00f7ff 90%
        ); */
        --rainbow: repeating-linear-gradient(120deg, transparent, transparent);
        background-image: var(--stripes), var(--rainbow);
        background-size: 120%, 200%;
        background-position:
          50% 50%,
          50% 50%;
      }

      .animate-god-rays {
        background-image: var(--stripes), var(--rainbow);
        background-size: 100%, 100%;
        background-position: 50% 50%;
        animation: god-rays var(--duration) cubic-bezier(0.15, 0, 0.85, 1)
          infinite alternate;
      }

      @keyframes god-rays {
        0% {
          transform: translateX(-50%);
        }
        to {
          transform: translateX(0);
        }
      }

      /* Dark mode */

      :global(.dark) {
        main {
          color: #ededed;
          background-color: #0c0c0c;
        }

        .rays {
          opacity: 0.1;
        }

        #noise {
          opacity: 0.04;
        }
      }
    </style>
  </body>
</html>
