---

---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const preElement = document.querySelector("pre");
    const classes = 'inline-block pl-[2rem] -indent-[2rem]  [counter-increment:line] before:[content:counter(line)] before:inline-block before:w-[1rem] before:mr-[1rem] before:text-right before:text-gray-500';
    const lines = preElement!.innerText
      .trim()
      .split("\n")
      .map((line) => `<span class="${classes}">${line.trim()}</span>`)
      .join("\n");
    preElement!.innerHTML = lines;
  });
</script>

<main class="flex justify-center w-full gap-12 flex-col md:flex-row items-center my-24">
  <section
    class="select-none border border-dashed border-gray-500/40 rounded-[10px] w-fit rotate-[-2deg] shadow-md overflow-hidden mx-auto md:m-0"
  >
    <div
      class="border-0 border-b border-b-gray-500/40 border-dashed relative p-[.5rem]"
    >
      <!-- TODO: Vertical centering -->
      <div
        class="absolute flex gap-1 items-center left-[.5rem] text-[.8rem] leading-[.5rem] h-full top-0"
      >
        <p class="text-orange-400">●</p>
        <p class="text-yellow-300">●</p>
        <p class="text-green-500">●</p>
      </div>
      <p class="mx-auto w-fit text-gray-500 text-sm font-['Geist Mono']">about_bbauti.txt</p>
    </div>
    <pre
      class="p-[1rem] w-fit m-0 [counter-reset:line] tracking-tight leading-[1.35rem] whitespace-pre-wrap font-['Geist Mono']">
      Con más de dos años de experiencia en desarrollo
      web y casi un año dedicándome profesionalmente a
      lo que me apasiona, disfruto transformar visiones
      artísticas en experiencias web interactivas.

      Destaco en entornos de equipo, disfrutando de
      la colaboración, brindando ayuda y discutiendo
      abiertamente ideas y preguntas.

      Actualmente, me encuentro cursando una tecnicatura
      en programación, aprendiendo y creciendo cada día.
    </pre>
  </section>
  <section class="max-w-[20ch] w-full my-auto">
    <h2 class="text-2xl font-bold">
      Listo para iniciar tu proyecto?
      <a href="mailto:bautistaigarzabal11@gmail.com" class="underline hover:text-violet-500 transition-all ease">Hablemos!</a>
    </h2>
  </section>
</main>

<style>
  @font-face {
    font-family: "Geist Mono";
    src: url("/fonts/GeistMonoVF.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
