---
import { Icon } from "astro-icon/components";
---

<!-- <script>
  function debounce(func: (...args: any[]) => void, wait: number): () => void {
    let timeout: ReturnType<typeof setTimeout> | undefined;
    return function (this: void, ...args: any[]) {
      if (timeout) clearTimeout(timeout);
      timeout = setTimeout(() => func(...args), wait);
    };
  }

  const arrow = document.querySelector<HTMLElement>(".down-arrow");

  const handleScroll = debounce(() => {
    if (window.scrollY > 10) {
      console.log("hide");
      arrow.style.opacity = "0";
      arrow.style.filter = "blur(3px)";
    } else {
      console.log("show");
      arrow.style.opacity = "1";
      arrow.style.filter = "blur(0px)";
    }
  }, 100);

  if (arrow) window.addEventListener("scroll", handleScroll);
</script> -->
<div class="down-arrow">
  <Icon name="mdi:arrow-down-box" />
</div>

<style>
  .down-arrow {
    width: fit-content;
    margin: 3rem auto;
    font-size: 2rem;
    animation: bounce 2s infinite;
    transition: all 0.2s ease;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(10px);
    }

    60% {
      transform: translateY(5px);
    }
  }
</style>
