---
import { Icon } from "astro-icon/components";
---

<script>
  import gsap from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    if (window.innerWidth > 768) {
      gsap.fromTo('#down-arrow',
        { y: '20%', opacity: 0, },
        { y: '0%', opacity: 1, duration: .5, delay: 1.5, ease: 'power4.out'}
      )
    }
  });
</script>

<div class="down-arrow pointer hidden sm:block" id="down-arrow">
  <a href="#cards" aria-label="Go to cards">
    <Icon name="mdi:arrow-down-box" />
  </a>
</div>

<style>
  .down-arrow {
    width: fit-content;
    margin: 3rem auto;
    font-size: 2rem;
    animation: bounce 2s infinite;
    transition: all 0.2s ease;
    opacity: 0;
  }

  .down-arrow:hover {
    opacity: 0.5;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(10px);
    }

    60% {
      transform: translateY(5px);
    }
  }

  @media (max-width: 768px) {
    .down-arrow {
      position: absolute;
      inset: -2rem;
      margin-top: auto;
      height: fit-content;
      font-size: 2rem;
      animation: bounce 2s infinite;
      transition: all 0.2s ease;
    }
  }
</style>
