---
import { Icon } from "astro-icon/components";
---

<script>
  function debounce(func: (...args: any[]) => void, wait: number): () => void {
    let timeout: ReturnType<typeof setTimeout> | undefined;
    return function (this: void, ...args: any[]) {
      if (timeout) clearTimeout(timeout);
      timeout = setTimeout(() => func(...args), wait);
    };
  }

  window.addEventListener("DOMContentLoaded", () => {
    const arrow = document.querySelector<HTMLElement>(".down-arrow");
    if (!arrow) return;

    const handleScroll = debounce(() => {
      if (window.scrollY > 100) {
        console.log("hide");
        arrow.style.opacity = "0";
      } else {
        console.log("show");
        arrow.style.opacity = "1";
      }
    }, 100);

    window.addEventListener("scroll", handleScroll);
  });
</script>

<div class="down-arrow">
  <Icon name="mdi:arrow-down-box" />
</div>

<style>
  .down-arrow {
    position: absolute;
    bottom: 4rem;
    font-size: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: bounce 2s infinite;
    transition: all 0.2s ease;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(10px);
    }

    60% {
      transform: translateY(5px);
    }
  }
</style>
