---
import { Icon } from "astro-icon/components";
---

<div class="down-arrow pointer">
  <a href="#cards">
    <Icon name="mdi:arrow-down-box" />
  </a>
</div>

<style>
  .down-arrow {
    width: fit-content;
    margin: 3rem auto;
    font-size: 2rem;
    animation: bounce 2s infinite;
    transition: all 0.2s ease;
  }

  .down-arrow:hover {
    opacity: 0.5;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(10px);
    }

    60% {
      transform: translateY(5px);
    }
  }

  @media (max-width: 768px) {
    .down-arrow {
      position: absolute;
      inset: 0;
      margin-top: auto;
      height: fit-content;
      font-size: 2rem;
      animation: bounce 2s infinite;
      transition: all 0.2s ease;
    }
  }
</style>
