---

---

<footer class="min-h-[50vh] sticky bottom-0 bg-[#222630] relative">
  <div class="gradient"></div>
  <aside>
    <p>bbauti</p>
  </aside>
</footer>

<style>
  .gradient {
    background: linear-gradient(180deg, rgba(228, 75, 233, 0.089) 0%, rgba(230, 230, 230, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
  }
</style>