---

---

<script>
  import gsap from "gsap";
  import SplitType from 'split-type';
  import { CSSPlugin } from "gsap/CSSPlugin";

  gsap.registerPlugin(CSSPlugin);

  document.addEventListener('DOMContentLoaded', () => {
    new SplitType('#heading', { types: 'words' });

    document.querySelector(".frontend > div")?.classList.add("frontend");

    gsap.fromTo('#heading .word',
      { y: '100%', opacity: 0, filter: 'blur(10px)' },
      { y: '0%', opacity: 1, filter: 'blur(0px)', duration: 0.7, ease: 'power4.out', stagger: 0.1 }
    ).then(() => {
      document.querySelector(".highlight")?.classList.add("animate");
    });

    // Remove the class that hides the content
    document.getElementById('heading')?.classList.remove('[&>*]:opacity-0');
  });
</script>

<header
  id="heading"
  class="pt-[50px] md:pt-[80px] flex flex-col gap-4 items-center justify-center [&>*]:opacity-0"
>
  <h1 class="md:text-4xl text-2xl transition-all ease">¡Hola! Soy</h1>
  <h2 class="md:text-6xl text-4xl text-nowrap">Bautista Igarzabal</h2>
  <h3 class="md:text-3xl text-xl">
    <span class="highlight text-[#222630]">Desarrollador web,</span> especializado en el
    <span>
      <span class="frontend">frontend</span>
      <span class="ml-[-3px] md:ml-[-5px]">.</span>
    </span>
  </h3>
</header>

<style>
  header {
    user-select: none;
    font-size: 56px;
    letter-spacing: -0.109rem;
    text-align: center;
    font-weight: 700;
    line-height: 133%;
    transition:
      font-size 0.3s ease,
      letter-spacing 0.3s ease,
      line-height 0.3s ease;
  }

  header:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 50vh;
    opacity: 0.4;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
    background: linear-gradient(90deg, rgba(0, 0, 255, 0), rgb(101, 0, 255)),
      linear-gradient(90deg, rgb(255, 0, 106), rgba(0, 255, 0, 0)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  h2 {
    color: transparent;
    -webkit-text-stroke: 2px #222630;
    transform: skew(-2deg);
    transition: all 0.3s ease;
    font-family: 'Eudoxus Sans', sans-serif;
    font-weight: 700;
  }

  h2:hover {
    color: #222630;
    transform: skew(-2deg) scale(1.1) translateY(-10px);
    letter-spacing: normal;
    text-shadow: 0 0 20px hsla(0, 0%, 18%, 0.353);
  }

  .highlight {
    text-wrap: nowrap;
    position: relative;
    margin: -2px -6px;
    padding: 2px 6px;
  }

  .highlight::before {
    background: url(/brush.svg);
    background-repeat: round;
    background-size: cover;
    filter: blur(0.1px);
    position: absolute;
    content: "";
    height: 100%;
    width: 0%;
    z-index: -1;
    bottom: 0;
    transform: skewY(-2deg);
    transition: all 0.5s ease;
  }

  .animate.highlight::before {
    width: 96%;
  }

  .stars {
    /* TODO */
    display: none;
    position: absolute;
    top: -5px;
    right: -20px;
  }

  @media (max-width: 768px) {
    header > h2 {
      -webkit-text-stroke-width: 1px;
      letter-spacing: -0.05rem;
    }

    header > h2:hover {
      letter-spacing: 1px;
    }
  }

  /* Dark theme */

  :global(.dark) {
    header {
      color: #ededed;
    }

    .highlight::before {
      filter: brightness(0.8) blur(0.1px);
    }

    header > h2 {
      -webkit-text-stroke-color: #ededed !important;
    }

    header > h2:hover {
      color: #ededed !important;
      text-shadow: 0 0 20px hsla(0, 0%, 89%, 0.353);
    }

    header:before {
      background: linear-gradient(90deg, rgba(0, 0, 255, 0), rgb(101, 0, 255)),
        linear-gradient(90deg, rgb(255, 0, 106), rgba(0, 255, 0, 0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
  }
</style>

<style is:global>
  .frontend {
    position: relative;
    margin: -2px -6px;
    padding: 2px 6px;
    font-style: italic;
    background: linear-gradient(90deg, #ec0ebc, #8415ec);
    background-clip: text;
    color: transparent;
  }
</style>
