---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<div style="width: 200px; height: 150px;">
  <LottieAnimation src="assets/animation.json" autoplay="visible" />
</div>

<style>
  path[stroke="rgb(0,0,0)"] {
    stroke: rgb(255, 0, 0);
  }
</style>
