---
import ThemeIcon from "./ThemeIcon.astro";
---

<nav class="absolute top-8 right-0 z-50 flex justify-between w-fit mr-8">
  <ul class="flex gap-4 font-500 text-[#000000b8] dark:text-[#ffffffb8]">
    <li class="hover:text-black dark:hover:text-white">
      <a
        href="https://www.linkedin.com/in/bbauti"
        target="_blank"
        aria-label="Linkedin">Linkedin</a
      >
    </li>
    <li class="hover:text-black dark:hover:text-white">
      <a
        href="mailto:bautistaigarzabal11@gmail.com"
        target="_blank"
        aria-label="Email">Email</a
      >
    </li>
    <li class="hover:text-black dark:hover:text-white">
      <a href="https://x.com/akabbauti" target="_blank" aria-label="Twitter"
        >Twitter</a
      >
    </li>
    <li class="hover:text-black dark:hover:text-white">
      <a href="http://github.com/bbauti" target="_blank" aria-label="Github"
        >Github</a
      >
    </li>
    <li class="hover:text-black dark:hover:text-white">
      <a href="https://read.cv/bbauti" target="_blank" aria-label="CV"
        >Read.cv</a
      >
    </li>
    <li class="hover:text-black dark:hover:text-white">
      <a
        href="https://www.behance.net/bbauti"
        target="_blank"
        aria-label="Behance">Behance</a
      >
    </li>
    <li class="hover:text-black dark:hover:text-white"><ThemeIcon /></li>
  </ul>

  <style>
    li {
      transition: all 0.2s ease;
    }
  </style>
</nav>
