---
import { Icon } from "astro-icon/components";
---

<section class="w-fit mx-auto">
  <h2 class="w-fit mx-auto mb-4 font-semibold text-lg md:text-xl relative">
    Mis proyectos
  </h2>
</section>
